.*
*.o
*.ko
*.cmd
*.mod.c
*.gch
*.disk
*.la
*.lo
*.tar.gz
*.cache
*.pyc

Module.symvers
modules.order

bdtunloop
bdtun
dummybd
dummy
membd
loopbd

aclocal.m4

configure
depcomp
install-sh
missing
ltmain.sh
libtool

config.guess
config.sub
config.log
config.status

Makefile.in
!kernel/Makefile.in
example/Makefile.in
include/Makefile.in
lib/Makefile.in
util/Makefile.in
include/config.h.in
include/config.h.in~
kernel/dkms.conf

Makefile
example/Makefile
include/Makefile
lib/Makefile
util/Makefile
include/config.h

include/stamp-h1

lib/bdtun.pc
lib/bdtun_backend.pc
